// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  
}

form.button_to {
 width: 100px;
 display: inline-block;
}

div.search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

div.search-one {
  position: relative;
  display: inline-block;
  margin-left: 200px;
}

div.search-two {
  position: relative;
  display: inline-block;
  
}

div.search-three {
  position: relative;
  display: inline-block;
  
}

div.search label {
margin: 5px 10px 5px 0;
font-size: 20px;
}

div.search input {
vertical-align: middle;
margin: 5px 10px 0;
padding: 10px;

}


.button {
  
    background-color: #EEEEEE;
    border-radius: 6px;
    border: none;
    font: inherit;
    color: inherit;
    padding: 8px 20px;
    padding-top: 15px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
  
}

.button:hover {

    color: #fff;
    background-color: #000;

}

.back {
    float: left;
    margin: 40px;
    color:blue;
}

.signupLink {
    padding-top: 10px;
    display: block;
}

h3 {
    color: #6fa8dc;
    font-size: 1.4em;
  }


div.radio {
  label {
  margin-bottom: 40px;
  margin-left: -3px;
  margin-right: 10px;
  display: inline-block;
  }
}

#error_explanation
{
 width: 100% !important;
}

.field_with_errors {
  display: inherit !important;
  background-color: white !important;
  color: red;

}
table {
  display: inline-block;
    table-layout: fixed;
    border: 1px solid black;
    border-spacing: 5px;
    border-collapse: collapse;
    font-size: 15px;
    margin-bottom: 20px;    
  }
  th {
   background-color: white;
   font-size: 20px;
   padding: 15px;
  }

  td {
   border: 1px solid black;
   padding: 15px;
   font-size: 18px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }


